<div class="intro" id="intro">
    <div class="photo-contain">
        <div class="photo">
        </div>
    </div>
    <div class="intro-cont">
        <h1 class="title">{{title}}</h1>
        <h2 class="name">{{name}}</h2>
        <div class="description-content" *ngIf = "language == 'es-ES' ">
            <p class="description">Tengo 2 años de experiencia trabajando como Javascript developer en  empresas en brasil.</p>

            <p class="description">He desarrollado páginas web en liferay e oracle commerce cloud en el sector de ecommerce.</p>

            <p class="description">Recientemente me he certificado como desarrollador Javascript con Nodejs (Express) y Angular.</p>

            <p class="description">Busco colaborar como desarrollador en:<br>
            <strong>liferay</strong> o <strong>angular</strong>.</p>
        </div>
        <div class="description-content" *ngIf = "language == 'pt-BR' ">
            <p class="description">Tenho 2 anos de experiência trabalhando como desenvolvedor Javascript em empresas no Brasil.</p>

            <p class="description">Eu desenvolvi páginas web usando liferay e oracle commerce cloud no setor do ecommerce.</p>

            <p class="description">Recentemente, me tornei um desenvolvedor Javascript com Nodejs (Express) e Angular.</p>

            <p class="description">Estou procurando colaborar como desenvolvedor em:<br>
            <strong>liferay</strong> ou <strong>angular</strong>.</p>
        </div>
        <div class="description-content" *ngIf = "language == 'en-US' ">
            <p class="description">I have 2 years of experience working as a Javascript developer in startups in Brazil.</p>

            <p class="description">I have developed web pages in liferay and oracle commerce cloud in the ecommerce sector.</p>

            <p class="description">I recently certified as a Javascript developer with Nodejs (Express) and Angular.</p>

            <p class="description">I look to collaborate as a developer in:<br>
            <strong>liferay</strong> and <strong>angular</strong>.</p>
        </div>
        <div class="social">
            <ul class="social-network">
                <li class="social-item">
                    <a href="{{linkedin}}" title="linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
                </li>
                <li class="social-item">
                    <a href="{{github}}" title="github" target="_blank"><i class="fab fa-github-square"></i></a>
                </li>
                <li class="social-item">
                    <a href="tel:{{phone}}" title="+55 (81) 982313-722" ><i class="fab fa-whatsapp-square"></i></a>
                </li>
            </ul>
        </div>
        <a class="btn btn-cv" href="{{cv}}" download><i class="far fa-file-alt"></i>{{nameButtonCV}}</a>
    </div>
</div>
